@import "./styles/normalize.css";

.content {
  display: flex;
  justify-content: space-between;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-bg {
  background: #fffef2;
}

.header-dropdown-lang {
  border-radius: 3px solid #d0dae4;
  width: 130px;
  text-align: center;
  background-color: #d0dae4;
  color: gray;
}

.header-dropdown-cy {
  border-radius: 3px;
  text-align: center;
  width: 88;
  background-color: #d0dae4;
  color: gray;
}

.bg-billing {
  background: #ffffff;
  box-shadow: 0px 4px 10px 3px #e5e9ed;
  border-radius: 5px;
  padding: 20px;
  max-width: 560px;
  width: 100%;
}

.tabs {
  width: 500px;
}

.tab {
  width: 250px;
  border: 1px solid #e1e1e1;
  background: #ffffff;
}

.input-m {
  height: 44px;
  width: 251px;
  background: #ffffff;
  border: 1px solid #d0dae4;
  border-radius: 3px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #9a9a9a;
}

.input-l {
  height: 44px;
  background: #ffffff;
  border: 1px solid #d0dae4;
  border-radius: 3px;
  width: 520px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #9a9a9a;
}

.input-s {
  height: 44px;
  background: #ffffff;
  border: 1px solid #d0dae4;
  border-radius: 3px;
  width: 156px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}

.input-card-number {
  width: 500px;
}

.bg-form-card {
  background: #e9f0fc;
  border: 1px solid #d0dae4;
  padding: 0 11px 11px 11px;
  width: 520px;
}

.billing-btn {
  width: 522px;
  height: 63px;
  margin-top: 25px;
  color: #000000;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  background: #ffc107;
  border-radius: 5px;
}

.billing-btn:hover {
  background: #f7cc51;
  transition: 0.3s;
  color: #000000;
}

.product-title {
  color: #9fa7ab;
  font-weight: 700;
  font-size: 9px;
  line-height: 11px;
}

.product-image {
  width: 49px;
  height: 74px;
}

.product-subtitle {
  color: #25272c;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
}

.product-description {
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  color: #666c70;
}

.product-link {
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  color: #2f76f6;
}

.product-total {
  color: #80c600;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
}

.product-text {
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  color: #666c70;
}

.product-images {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
}

.footer-text {
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  color: #666c70;
}

.mt {
  margin-top: 40px;
}

.mb {
  margin-bottom: 40px;
}

.mb-header {
  margin-bottom: 0px;
}

.mr-product {
  margin-left: 16px;
}

.mb-product-images {
  margin-top: 0px;
}

@media screen and (max-width: 1000px) {
  .content {
    display: flex;
    flex-direction: column-reverse;
  }

  .bg-billing {
    margin-top: 40px;
  }

  .mr-product {
    margin-left: 0px;
  }
}

@media screen and (max-width: 768px) {
  .input-l {
    max-width: 400px;
    width: 100%;
  }

  .input-m {
    max-width: 190px;
    width: 100%;
  }

  .input-card-number {
    max-width: 400px;
    width: 100%;
  }

  .input-s {
    max-width: 110px;
    width: 100%;
  }

  .billing-btn {
    max-width: 422px;
    width: 100%;
  }

  .bg-form-card {
    max-width: 420px;
    width: 100%;
  }

  .tabs {
    max-width: 500px;
    width: 100%;
  }
}

@media screen and (max-width: 580px) {
  .header-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .bg-billing {
    margin-top: 20px;
  }

  .mt {
    margin-top: 20px;
  }

  .mb {
    margin-bottom: 20px;
  }

  .mb-header {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 425px) {
  .product-images {
    flex-wrap: wrap;
  }

  .mb-product-images {
    margin-top: 15px;
  }
}

.nav-justified .nav-item,
.nav-justified > .nav-link:first-child {
  margin-left: 20px;
}

.nav-fill .nav-item .nav-link,
.nav-justified .nav-item .nav-link:first-child {
  background: #e9f0fc;
  height: 42px;
}

.nav-justified .nav-item,
.nav-justified > .nav-link:last-child {
  background: #fff;
}

.form-select.is-valid:not([multiple]):not([size]),
.form-select.is-valid:not([multiple])[size="1"],
.was-validated .form-select:valid:not([multiple]):not([size]),
.was-validated .form-select:valid:not([multiple])[size="1"] {
  background: none;
}
